{% extends "base.html" %}
<!-- CSS only -->
<Head>
    
<!-- JavaScript Bundle with Popper -->

<Title>
    
      
</Title>  
</Head>  
<Body>
<!-- temp[late inheritance] /-->
    

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>     
   <h1 style = "text-align:center;">About Us</h1>
   <hr>
   <p>ERS is an organization that collects electronic waste through a organized process and 
       delivers it to e-waste facilities. Through this process, we can efficiently recycle electronic waste
       which would go to a dump instead and pollute our atmosphere. The world has limited resources and it is important for everyone to play a part.
       By participating in our goal, you can also make a positive impact on our world.
   </p>
   {% endblock %}
</Body>
